<div class="ise-link m-3">
    <span class="fa fas fa-caret-right"></span>&nbsp;&nbsp;
    <a href="/groups/<%= group.id%>/incomes" class="ise-link">Incomes</a>
</div>
<hr>
<div class="ise-link m-3">
    <span class="fa fas fa-caret-right"></span>&nbsp;&nbsp;
    <a href="/groups/<%= group.id%>/expenses" class="ise-link">Expenses</a>
</div>
<hr>
<div class="ise-link m-3">
    <span class="fa fas fa-caret-right"></span>&nbsp;&nbsp;
    <a href="/groups/<%= group.id%>/savings" class="ise-link">Savings</a>
</div>
<hr>
<div class="ise-link m-3">
    <span class="fa fas fa-caret-right"></span>&nbsp;&nbsp;
    <a href="/groups/<%= group.id%>/loans" class="ise-link">Loans</a>
</div>
<hr>