

<div class="row" style="min-height: 100vh;">
    
    <%# analysis panel %>
    <div class="col-md-2" style="background: lightgrey;">
        <%= render 'layouts/side_panel', name: "Loan", create_action: "/loans/create" %>
    </div>

    <%# main body %>
    <div class="col-md-10">
        <div class="row m-auto">
            <%# record %>
            <div class="col-md-8">
                <%= render 'layouts/all_ise', ises: @loans, edit_action: 'loans/edit' %>
            </div>

            <%# info %>
            <div class="col-md-4">
                <%= render 'layouts/chart', ise: @loans_for_graph, ise_type: "Loan", xtitle: "Loan From" %> 
            </div>  
           
        </div>
    </div>
    
</div>


<script type="text/javascript">
$(function(){

    // note put scripts in  main page rather than partial
    // delete operation of ISE
    $("button.delete_id").on("click", function(){
        var delete_ise = $(this).attr('data-id'); 
        console.log(delete_ise);

        $.ajax({
            url: 'loans/delete',
            type: 'delete',
            dataType: 'json',
            data: {id: delete_ise},
            success: function(response){
                location.reload();
            },
            error: function(e){
                console.log(e)
            },
        });


    });
      
}); 
</script>