// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-wrapper {
    max-width: 500px;
    min-height: 450px;
    margin-bottom: 2rem;
}

.profile-container{
    display: flex;
    flex-direction: column;
    place-items: center;
    // align-items: center;
    // justify-content: center;
}

.profile-pic {
    display: flex;
    place-items: center;
    width: 10em;
    height: 10em;
    border-radius: 5em;
    overflow: hidden;
    background-color: grey;
}

.image{
    max-width: 10em;
    max-height: 10em;
    // border-radius: 5em;
}
