<div class="row" style="min-height: 100vh;">
    
    <%# analysis panel %>
    <div class="col-md-2">
        <%# side panel partial %>
        <%= render 'layouts/side_panel', name: "Expense", create_action: "/groups/#{@group.id}/expenses/create" %>
    </div>

    <%# main body %>
    <div class="col-md-10" style="background:e3a5f0;"> 
    
        <div class="row m-auto">
            <%# record %>
            <div class="col-md-8">
                <%# all record through partial %>
                <%= render 'layouts/all_ise', ises: @expenses, edit_action: "/groups/#{@group.id}/expenses/edit" %>
            </div>

            <%# info %>
            <div class="col-md-4">
                <%# chart partial %>
                <%= render 'layouts/chart', ise: @expenses_for_graph, ise_type: "Expense", xtitle: "Spent On" %>
            </div>  
           
        </div>
    </div>
    
</div>


<script type="text/javascript">
$(function(){

    // note put scripts in  main page rather than partial
    // delete operation of ISE
    $("button.delete_id").on("click", function(){
        var delete_ise = $(this).attr('data-id');

        $.ajax({
            url: "/groups/<%= @group.id %>/expenses/delete",
            type: 'delete',
            dataType: 'json',
            data: {delete_id: delete_ise},
            success: function(response){
                location.reload();
            },
            error: function(e){
                console.log(e)
            },
        });

    });
      
}); 
</script>