<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPoll">Launch
  modal</button>

  <div class="modal fade" id="modalPoll">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-heading">
                ghjkl;''
            </div>
            <div class="modal-body">
            cfhk
            </div>
            <div class="modal-footer justify-content-center">
            bnm,
            </div>
        </div>
    </div>
  </div>


  <div class="col-md-6">
    <%= pie_chart @incomes_pair, xtitle: "Incomes", ytitle: "Amount (Rs.)" %>
  </div>