<div class="row  content mt-4">
   
    <div class="col-2">
        <div class=" shadow p-4 m-3 rounded overflow-hidden bg-secondary">
            Group Details Here
        </div>
    </div>

    <div class="col-9">
        <div class="row text-center d-flex justify-content-around">

            <%# personal %>
            
            <div class="col-md-3 col-sm-4 group shadow p-4 m-3 rounded">
                <div class="bg-secondary rounded m-auto" style="height:5em; width: 5em;">
                Samir
                </div>
                <div class="group-name">Personal</div>
                <hr>
                <div class="d-flex justify-content-around">
                    <div> 
                        <span class="">Something</span>
                    </div>
                
                    <div>
                        <span class="">Something</span>
                    </div>
                </div>
                <hr>
                <button class="btn btn-primary shadow">View Detail</button>
            </div>

            <%# groups %>
            <% current_user.groups.each  do |group| %>
                <div class="col-md-3 col-sm-4 group shadow p-4 m-3 rounded">
                    <div class="bg-secondary rounded m-auto" style="height:5em; width: 5em;">
                    Samir
                    </div>
                    <div class="group-name"><%= group.name %></div>
                    <hr>
                    <div class="d-flex justify-content-around">
                        <div> 
                            <%= group.members.count %> <span class="">Members</span>
                        </div>
                    
                        <div>
                            <%= group.pending_members.count %><span class=""> Requested</span>
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-primary shadow">View Detail</button>
                </div>
            <% end %>

            <%# groups %>
            <div class="col-md-3 col-sm-4 group shadow p-4 m-3 rounded">
                <div class="bg-secondary rounded m-auto" style="height:5em; width: 5em;">
                Samir
                </div>

                <div class="group-name">Create Group</div>
                <hr>
                <button class="btn btn-primary shadow">Add Group</button>
            </div>
        </div>
    </div>

    <div class="col-1">
    </div>

</div>