
<footer  style="background: #6c4275;">
  <div class="row text-center text-white m-0">
    <div class="col-sm-6">
      <p class="mt-2 font-weight-bolder">Daily Transaction</p>
      <p>Keeps your daily transaction report</p>
      <p>A system to make your economic life easy</p>
      <p>Have Fun !!!</p>
    </div>
    
    <div class="col-sm-6">
    <div class="font-weight-bolder mt-2">
      Meet Our Team
    </div>
      <div class="mt-2">Samir Acharya</div>
      <div class="mt-2">Dhan Bdr. Moktan</div>
      <div class="mt-2">Laxman Dahal<div>
      <div class="mt-2">Zirash Shrestha</div>
    </div>
  </div>
</footer>