
<div class="text-center">
    <div class="font-weight-bold text-light py-2" style="font-size: 2em; text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 5px darkblue;"><%= name %></div>
    <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#myModal" style="box-shadow: 1px 1px 2px grey">Add <%= name %></button>
    <%= render 'layouts/create_ise', create_action: create_action, heading: name %>
</div>